@charset "UTF-8";
* { font-family: 'Roboto', sans-serif; -webkit-tap-highlight-color: transparent; -moz-tap-highlight-color: transparent; -o-tap-highlight-color: transparent; tap-highlight-color: transparent; }

html, body { width: 100%; height: 100%; min-height: 100vh; margin: 0; background-color: #FAFAFA; }

.material-icons { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }

.selectDisable { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }

/* ---------- header.php ---------- */
header { position: fixed; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); left: 0; right: 0; top: 0; z-index: 10; background-color: #FFF; height: 64px; }

@media screen and (max-width: 799px) { header { height: 56px; } }

@media screen and (min-width: 1480px) { header { left: 256px; } }

header .header-menu { color: #616161; width: 24px; height: 24px; border-radius: 50%; position: absolute; top: 50%; transform: translateY(-50%); padding: 8px; margin-left: -8px; cursor: pointer; left: 24px; }

@media screen and (max-width: 799px) { header .header-menu { left: 16px; } }

@media screen and (min-width: 1480px) { header .header-menu { display: none; } }

header .header-title { color: #616161; margin: 0; padding: 0; position: absolute; top: 50%; transform: translateY(-50%); -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; cursor: default; font-size: 18px; left: 80px; }

header .header-title i { position: relative; top: 6px; }

@media screen and (max-width: 799px) { header .header-title { left: 72px; } }

header .header-notifications { color: #616161; width: 24px; height: 24px; border-radius: 50%; position: absolute; top: 50%; transform: translateY(-50%); padding: 8px; margin-right: -8px; right: 24px; cursor: pointer; }

@media screen and (max-width: 799px) { header .header-notifications { right: 16px; } }

header .header-notifications.logged_in { right: 65px; }

@media screen and (max-width: 799px) { header .header-notifications.logged_in { right: 57px; } }

header .header-more { color: #616161; width: 24px; height: 24px; border-radius: 50%; position: absolute; top: 50%; transform: translateY(-50%); padding: 8px; margin-right: -8px; right: 24px; cursor: pointer; }

@media screen and (max-width: 799px) { header .header-more { right: 16px; } }

header .progress { position: absolute; bottom: 0; right: 0; left: 0; height: 2px; display: none; width: 100%; background-clip: padding-box; margin: 0; overflow: hidden; }

header .progress .indeterminate::before { content: ''; position: absolute; background-color: #2196F3; top: 0; left: 0; bottom: 0; will-change: left, right; animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }

header .progress .indeterminate::after { content: ''; position: absolute; background-color: #2196F3; top: 0; left: 0; bottom: 0; will-change: left, right; animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite; animation-delay: 1.15s; }

@keyframes indeterminate { 0% { left: -35%;
    right: 100%; }
  60% { left: 100%;
    right: -90%; }
  100% { left: 100%;
    right: -90%; } }

@keyframes indeterminate-short { 0% { left: -200%;
    right: 100%; }
  60% { left: 107%;
    right: -8%; }
  100% { left: 107%;
    right: -8%; } }

div.header-notifications-menu-overlay { z-index: 12; position: fixed; top: 0; left: 0; bottom: 0; right: 0; display: none; }

div.header-notifications-menu { z-index: 13; padding: 0; margin: 0; padding: 0; border-radius: 2px; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); position: fixed; right: 16px; top: 56px; width: 480px; height: 448px; background-color: #FFF; overflow-y: auto; display: none; }

div.header-notifications-menu.logged_in { right: 57px; }

div.header-notifications-menu div.top { background-color: #EEEEEE; position: absolute; top: 0; left: 0; right: 0; height: 48px; padding: 0; }

div.header-notifications-menu div.top p { position: relative; margin: 0; padding: 0; left: 16px; top: 50%; transform: translateY(-50%); font-size: 16px; font-weight: 400; line-height: 20px; width: fit-content; color: #111111; }

@media screen and (max-width: 799px) { div.header-notifications-menu div.top p { left: 8px; } }

div.header-notifications-menu div.top .settings { height: 24px; width: 24px; padding: 8px; position: absolute; margin: 0; right: 16px; top: 50%; transform: translateY(-50%); font-size: 16px; font-weight: 400; line-height: 20px; cursor: pointer; }

@media screen and (max-width: 799px) { div.header-notifications-menu div.top .settings { right: 8px; } }

div.header-notifications-menu div.top .settings i { height: 24px; width: 24px; color: #616161; }

div.header-notifications-menu .contents { position: relative; top: 48px; left: 0; right: 0; bottom: 0; height: 400px; }

@media screen and (max-width: 799px) { div.header-notifications-menu .contents { height: auto; } }

div.header-notifications-menu .contents .empty { position: relative; top: 50%; transform: translateY(-50%); padding: 0 0 16px 0; }

@media screen and (max-width: 799px) { div.header-notifications-menu .contents .empty { position: unset; top: 0; transform: none; padding: 16px 0 16px 0; } }

div.header-notifications-menu .contents .empty .icon { height: 120px; width: 120px; position: relative; left: 50%; transform: translateX(-50%); }

div.header-notifications-menu .contents .empty .icon i { font-size: 120px; color: #EEEEEE; }

div.header-notifications-menu .contents .empty h4 { margin: 24px 0 8px 0; display: block; font-size: 16px; font-weight: 500; line-height: 20px; color: #888888; text-align: center; }

div.header-notifications-menu .contents .empty p { margin: 16px auto 0 auto; font-size: 14px; font-weight: normal; line-height: 21px; color: #888888; width: 280px; text-align: center; }

@media screen and (max-width: 799px) { div.header-notifications-menu { right: 8px; top: 48px; width: 90%; height: 60%; } }

div.header-more-menu-overlay { z-index: 12; position: fixed; top: 0; left: 0; bottom: 0; right: 0; }

div.header-more-menu-overlay .header-more { color: #616161; width: 24px; height: 24px; border-radius: 50%; position: absolute; top: 50%; transform: translateY(-50%); padding: 8px; margin-right: -8px; cursor: pointer; right: 24px; }

@media screen and (max-width: 799px) { div.header-more-menu-overlay .header-more { right: 16px; } }

div.header-more-menu { z-index: 13; padding: 0; margin: 0; padding: 8px 0 8px 0; border-radius: 2px; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); position: fixed; right: 16px; top: 12px; width: 160px; background-color: #FFF; font-size: 15px; display: none; }

div.header-more-menu ul { list-style: none; padding-left: 0; margin: 0; }

div.header-more-menu ul li { height: 32px; padding-left: 24px; cursor: pointer; }

div.header-more-menu ul li p { margin: 0; position: relative; top: 50%; transform: translateY(-50%); }

@media screen and (max-width: 799px) { div.header-more-menu { right: 8px; top: 8px; font-size: 16px; }
  div.header-more-menu ul li { height: 48px; padding-left: 16px; } }

div.header-more-menu-overlay { z-index: 12; position: fixed; top: 0; left: 0; bottom: 0; right: 0; }

/* ---------- nav.php ---------- */
nav { z-index: 13; background-color: #FFF; position: fixed; top: 0; left: -330px; bottom: 0; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); overflow-y: auto; transition: left 0.4s ease; }

@media screen and (min-width: 1480px) { nav { left: 0; z-index: 10; box-shadow: none; border-right: solid 1px #BDBDBD; transition: none; } }

nav div.logo { width: 100%; height: 56px; margin: 0; cursor: pointer; }

@media screen and (min-width: 800px) and (max-width: 1479px) { nav div.logo { height: 64px; } }

@media screen and (min-width: 1480px) { nav div.logo { height: 64px; } }

nav div.logo img { height: 90%; width: auto; position: relative; left: 50%; top: 50%; transform: translate(-50%, -50%); }

nav div.line { background-color: #BDBDBD; margin: 0; height: 1px; width: 100%; }

nav div.logo-list-line { position: absolute; top: 56px; left: 0; right: 0; }

@media screen and (min-width: 800px) and (max-width: 1479px) { nav div.logo-list-line { top: 64px; } }

@media screen and (min-width: 1480px) { nav div.logo-list-line { top: 64px; } }

nav ul.list { position: relative; left: 0; right: 0; width: 100%; margin: 8px 0 8px 0; padding: 0; }

nav ul.list li.subheader p { margin: 0; position: absolute; top: 50%; transform: translateY(-50%); left: 16px; font-weight: 500; font-size: 14px; color: rgba(0, 0, 0, 0.54); }

@media screen and (min-width: 800px) and (max-width: 1479px) { nav ul.list li.subheader p { left: 24px; } }

@media screen and (min-width: 1480px) { nav ul.list li.subheader p { left: 24px; } }

nav ul.list li { position: relative; list-style: none; height: 48px; width: 100%; cursor: pointer; }

nav ul.list li i { position: absolute; top: 50%; left: 16px; transform: translateY(-50%); width: 24px; height: 24px; color: rgba(0, 0, 0, 0.54); }

@media screen and (min-width: 800px) and (max-width: 1479px) { nav ul.list li i { left: 24px; } }

@media screen and (min-width: 1480px) { nav ul.list li i { left: 24px; } }

nav ul.list li p { position: absolute; top: 50%; left: 72px; transform: translateY(-50%); margin: 0; padding: 0; font-weight: 500; font-size: 14px; color: rgba(0, 0, 0, 0.87); }

nav div.list-sublist-line { position: relative; left: 0; right: 0; }

div.nav-overlay { z-index: 12; position: fixed; left: 0; top: 0; right: 0; bottom: 0; display: none; opacity: 0; background-color: rgba(0, 0, 0, 0.5); transition: opacity 0.3s ease; }

/* ---------- CONTENT ---------- */
div.content { position: absolute; top: 64px; right: 0; left: 0; background-color: #FAFAFA; }

@media screen and (max-width: 799px) { div.content { top: 56px; } }

@media screen and (min-width: 1480px) { div.content { left: 256px; } }

/* ---------- NOSCRIPT -------- */
noscript div.overlay { position: fixed; top: 0; left: 0; bottom: 0; right: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.65); z-index: 100; }

noscript div.noscript { position: fixed; background-color: #FFFFFF; width: 70vw; max-width: 500px; height: auto; padding: 50px; left: 50%; top: 50%; transform: translate(-50%, -50%); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); border-radius: 2px; z-index: 101; float: right; }

noscript div.noscript a { text-decoration: none; color: #212121; }

noscript div.noscript a div.reload { cursor: pointer; }

noscript div.noscript a div.reload p { text-align: right; }

/* ---------- FOOTER ---------- */
footer { margin: 35px 0 0 0; border-top: 1px solid #E0E0E0; background-color: #EEEEEE; font-size: 11.5px; line-height: 2.19; list-style: none; padding: 10px 16px; right: 0px; bottom: 0px; }

@media screen and (max-width: 799px) { footer { font-size: 9px; } }

footer div.footer-content { margin: auto; max-width: 1000px; }

footer div.footer-content ul { margin: 0; padding: 0; }

footer div.footer-content ul li { font-weight: 300; margin: 0; display: inline-block; color: rgba(61, 61, 61, 0.8); }

footer div.footer-content ul li i { font-size: 12px; padding: 0 2px 0 0; line-height: 2.19; color: rgba(61, 61, 61, 0.8); position: relative; top: 1px; }

@media screen and (max-width: 799px) { footer div.footer-content ul li i { font-size: 9px; } }

footer div.footer-content ul li a { color: rgba(61, 61, 61, 0.8); text-decoration: none; }

footer div.footer-content ul li a:visited { color: rgba(61, 61, 61, 0.8); }

footer div.footer-content ul li a:hover { text-decoration: underline; }

footer div.footer-content ul li + li:before { content: "·"; padding: 0 3px; font-weight: 400; }
