.popup-overlay { position: absolute; top: 0; bottom: 0; right: 0; left: 0; background: rgba(0, 0, 0, 0.5); z-index: 1000; transition: opacity 0.8s ease-in; }

.popup { z-index: 1001; width: 90%; height: auto; position: fixed; top: 40%; left: 50%; transform: translateY(-50%) translateX(-50%); transition: opacity 0.3s ease; }

@media screen and (min-width: 700px) { .popup { width: 500px; } }

.popup .success-circle { z-index: 0; background-color: #72C342; border-radius: 50%; height: 100px; width: 100px; position: absolute; margin-left: 50%; transform: translateX(-50%); }

.popup .success-circle #tick #tick_path { stroke-dasharray: 70.04981994628906px; stroke-dashoffset: -70.04981994628906px; transition: all 0.8s ease-in-out; }

.popup .success-circle #tick #tick_path.checked { stroke-dashoffset: -140.0996398925781px; }

.popup .cross-circle { z-index: 0; background-color: #c0392b; border-radius: 50%; height: 100px; width: 100px; position: absolute; margin-left: 50%; transform: translateX(-50%); }

.popup .cross-circle #cross { transform: scale(0.8); }

.popup .cross-circle #cross #cross_path2 { stroke-dasharray: 80.38362884521484px; stroke-dashoffset: -80.38362884521484px; transition: all 0.5s ease-in-out; }

.popup .cross-circle #cross #cross_path2.checked { stroke-dashoffset: -160.76725769px; }

.popup .cross-circle #cross #cross_path1 { stroke-dasharray: 80.38363647460938px; stroke-dashoffset: -80.38363647460938px; transition: all 0.5s ease-in-out 0.4s, opacity 0.1s linear 0.38s; opacity: 0; }

.popup .cross-circle #cross #cross_path1.checked { opacity: 1; stroke-dashoffset: 0px; }

.popup .white-space { z-index: -1; background-color: #fff; width: 100%; height: 100%; position: relative; top: 50px; left: 0; right: 0; bottom: 0; border-radius: 5px; }

.popup .white-space .text { color: #282828; padding: 60px 10px 20px 10px; }

.popup .white-space .text h3 { margin-top: 0; margin-bottom: 10px; text-align: center; font-size: 30pt; font-weight: lighter; font-family: 'Lato', sans-serif; }

.popup .white-space .text p { margin-bottom: 30px; text-align: center; font-size: 14pt; font-family: 'Lato', sans-serif; color: #282828; }

.popup .white-space .text p a { color: #000; cursor: pointer; text-decoration: none; font-weight: bolder; font-size: 14pt; }

.popup .white-space .text .button { text-align: center; display: block; font-family: 'Lato', sans-serif; font-size: 16px; padding: 1em 0; width: 100%; border: none; outline: none; color: #fff; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); cursor: pointer; transition: all 0.2s ease; }

.popup .white-space .text #s-okay { background-color: #72C342; }

.popup .white-space .text #s-okay:hover { background-color: #2ecc71; }

.popup .white-space .text #f-okay { background-color: #c0392b; }

.popup .white-space .text #f-okay:hover { background-color: #e74c3c; }
