@import "vars"

body.page

  content

    .wrapper

      .main

        .page

          .page__content
            width: 100%
            margin: 16px 0 0 0

            .description
              font-size: 16px
              line-height: 24px
              margin: 0 0 32px 0

            form
              margin: 0 0 32px 0

              .tabs
                display: flex
                flex-wrap: nowrap
                justify-content: center
                align-content: stretch
                width: 100%
                height: 48px
                margin: 0 0 24px 0

                @media #{$mobile}
                  font-size: 12px

                .tab
                  display: block
                  position: relative
                  text-decoration: none
                  text-align: center
                  text-transform: uppercase
                  font-weight: 500
                  cursor: pointer
                  color: rgba(#191919, .6)
                  line-height: 48px
                  width: 50%

                  &.active
                    color: $secondary

                    &::after
                      content: ""
                      display: block
                      height: 2px
                      width: 100%
                      background-color: $secondary
                      position: absolute
                      bottom: 0
                      right: 0
                      left: 0

              .success
                display: block
                width: 350px
                max-width: 100%
                margin: 64px auto
                text-align: center

                img
                  width: 100%
                  height: auto
                  margin: 0 0 32px 0

                h3
                  font-size: 18px
                  font-weight: 500
                  color: rgba(#000000, .86)
                  margin-bottom: 8px

                p
                  font-size: 16px
                  font-weight: 400
                  color: rgba(#000000, .6)
                  margin: 0

              .error-login
                display: block
                width: 192px
                max-width: 100%
                margin: 64px auto
                text-align: center

                h3
                  font-weight: 500
                  margin-bottom: 32px

                a.button
                  width: calc(100% - 32px)

                p
                  font-size: 14px
                  color: rgba(#000000, .56)
                  margin: 8px 0

              .changeable
                & > div
                  display: none

                  .input
                    margin: 0 0 8px 0

                    &.input--textarea
                      .error
                        margin-top: 0

              .submit
                margin: 16px 0 0 0

              .select
                position: relative
                width: 100%
                min-height: 75px

                .styledSelect
                  display: inline-block
                  position: relative

                  &::before
                    content: 'arrow_drop_down'
                    font-family: "Material Icons", sans-serif
                    font-weight: normal
                    font-style: normal
                    line-height: 1
                    letter-spacing: normal
                    text-transform: none
                    white-space: nowrap
                    word-wrap: normal
                    direction: ltr
                    -webkit-font-feature-settings: "liga"
                    -webkit-font-smoothing: antialiased
                    -webkit-user-select: none
                    -moz-user-select: none
                    -ms-user-select: none
                    user-select: none
                    display: inline-block
                    position: absolute
                    top: 6px
                    right: 8px
                    bottom: 8px
                    width: 24px
                    height: 24px
                    font-size: 24px
                    color: rgba(#000000, .6)
                    z-index: 0

                select
                  -webkit-appearance: none
                  -moz-appearance: none
                  appearance: none
                  box-sizing: border-box
                  position: relative
                  outline: none
                  border: none
                  border-radius: 4px
                  background-color: rgba(#000000, .14)
                  font-family: "Roboto", sans-serif
                  font-size: 16px
                  font-weight: 400
                  color: #000000
                  padding: 8px 40px 8px 8px
                  margin: 0
                  cursor: pointer
                  transition: background 100ms $easing
                  z-index: 1

                  &:focus
                    background-color: rgba(#000000, .18)

                label.error
                  display: block
                  position: relative
                  margin: 4px 0 0 54px
                  font-size: 12px
                  color: $red
                  -webkit-transition: all 180ms $easing
                  -moz-transition: all 180ms $easing
                  -ms-transition: all 180ms $easing
                  -o-transition: all 180ms $easing
                  transition: all 180ms $easing




        @media #{$not-mobile}
          .page
            .page__content
              .description