.content .main .image-container { display: flex; flex-direction: row; justify-content: flex-start; align-items: stretch; flex-wrap: wrap; width: 100%; height: auto; }

.content .main .image-container .image { width: 13.87%; position: relative; display: block; overflow: hidden; margin: 2.5px; background-position: center; background-size: cover; background-repeat: no-repeat; cursor: pointer; }

@media screen and (max-width: 1085px) and (min-width: 930px) { .content .main .image-container .image { width: 16.1%; } }

@media screen and (max-width: 930px) and (min-width: 775px) { .content .main .image-container .image { width: 19.3%; } }

@media screen and (max-width: 775px) and (min-width: 620px) { .content .main .image-container .image { width: 24.19%; } }

@media screen and (max-width: 620px) and (min-width: 465px) { .content .main .image-container .image { width: 32.2%; } }

@media screen and (max-width: 465px) { .content .main .image-container .image { width: 48%; } }

.content .main .image-container .image::before { content: ""; display: block; padding-top: 100%; }

.content .lightbox { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 30; background-color: #212121; }

.content .lightbox .header { position: absolute; top: 0; left: 0; right: 0; background-color: rgba(33, 33, 33, 0.5); z-index: 1; height: 64px; }

@media screen and (max-width: 799px) { .content .lightbox .header { height: 56px; } }

.content .lightbox .header .img-count { color: #BDBDBD; font-size: 20px; position: relative; left: 24px; top: 50%; transform: translateY(-50%); margin: 0; padding: 0; }

@media screen and (max-width: 799px) { .content .lightbox .header .img-count { left: 16px; } }

.content .lightbox .header .close { padding: 8px; margin-right: -8px; position: absolute; right: 24px; top: 50%; width: 24px; height: 24px; transform: translateY(-50%); cursor: pointer; border-radius: 50%; }

@media screen and (max-width: 799px) { .content .lightbox .header .close { right: 16px; } }

.content .lightbox .header .close i { font-size: 24px; color: #BDBDBD; }

.content .lightbox .header .download { padding: 8px; margin-right: -8px; position: absolute; right: 66px; top: 50%; width: 24px; height: 24px; transform: translateY(-50%); cursor: pointer; border-radius: 50%; }

@media screen and (max-width: 799px) { .content .lightbox .header .download { right: 58px; } }

.content .lightbox .header .download i { font-size: 24px; color: #BDBDBD; }

.content .lightbox .img-preview { position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 0; }

.content .lightbox .img-preview img { position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.content .lightbox .img-preview video { position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.content .lightbox .img-preview .prev { position: absolute; top: 50%; left: 24px; transform: translateY(-50%); width: 24px; height: 24px; cursor: pointer; padding: 8; margin-left: -8px; border-radius: 50%; }

@media screen and (max-width: 799px) { .content .lightbox .img-preview .prev { left: 16px; } }

.content .lightbox .img-preview .prev i { font-size: 24px; color: rgba(255, 255, 255, 0.75); }

.content .lightbox .img-preview .next { position: absolute; top: 50%; right: 24px; transform: translateY(-50%); width: 24px; height: 24px; cursor: pointer; padding: 8; margin-right: -8px; border-radius: 50%; }

@media screen and (max-width: 799px) { .content .lightbox .img-preview .next { right: 16px; } }

.content .lightbox .img-preview .next i { font-size: 24px; color: rgba(255, 255, 255, 0.75); }
