.content div { max-width: 1000px; margin: 0 auto; padding: 0; }

@media screen and (max-width: 1020px) { .content div { margin: 0 16px; } }

.content div h1 { font-size: 34px; font-weight: 400; }

.content div h3 { font-size: 20px; font-weight: 500; }

.content div p { font-size: 13px; font-weight: 400; }

.content div p a { color: #2196F3; text-decoration: none; }

.content div p a:visited { color: #2196F3; }

.content div p a:hover { text-decoration: underline; }

@media screen and (max-width: 799px) { .content div p { font-size: 14px; } }

.content div p.pre-text { font-weight: 500; }
