.content { /* SUCCESS */ /* FAILURE */ }

.content div.floating-button { background-color: #2196F3; border-radius: 50%; width: 56px; height: 56px; position: fixed; right: 24px; bottom: 24px; z-index: 8; }

@media screen and (max-width: 799px) { .content div.floating-button { right: 16px; bottom: 16px; } }

.content div.floating-button i { color: #FFF; width: 24px; height: 24px; position: absolute; top: 48%; left: 52%; transform: translate(-50%, -50%); }

.content div.main { max-width: 1000px; margin: 0 auto; }

@media screen and (max-width: 1020px) { .content div.main { margin: 0 16px; } }

.content div.main h1 { text-align: center; font-size: 56px; font-weight: normal; color: #212121; margin: 0.5em 0 0.5em 0; }

.content div.main div.text-field { width: 90%; position: relative; margin: 25px auto; transition: margin 0.2s ease-in-out; }

.content div.main div.text-field:last-of-type { margin-top: 43px; margin-bottom: 0; }

.content div.main div.text-field:not(.small).is-invalid { margin-bottom: 35px !important; }

@media screen and (max-width: 799px) { .content div.main div.text-field.small.is-invalid { margin-bottom: 35px !important; } }

@media screen and (min-width: 800px) { .content div.main div.text-field.small { width: 42.5%; display: inline-block; }
  .content div.main div.text-field.small.left { margin: 25px 2% 0px 5%; }
  .content div.main div.text-field.small.left.is-invalid { margin-bottom: 10px !important; }
  .content div.main div.text-field.small.right { margin: 25px 5% 0px 2%; }
  .content div.main div.text-field.small.right.is-invalid { margin-bottom: 10px !important; } }

.content div.main div.text-field textarea { min-width: 100%; max-width: 100%; min-height: 153px; max-height: 153px; resize: none; padding-top: 18px; border-left: 1px solid #9E9E9E !important; border-right: 1px solid #9E9E9E !important; border-top: 1px solid #9E9E9E !important; border-radius: 3px; top: -18px; margin-bottom: 0; }

.content div.main div.text-field .text-field_input { width: 100%; height: 35px; font-size: 16px; border: none; border-bottom: 1px solid #9E9E9E; background-color: transparent; position: relative; z-index: 1; transition: border 0.2s ease-out; caret-color: #2196F3; }

.content div.main div.text-field .text-field_input:required + label::after { margin-left: 1px; content: "*"; }

.content div.main div.text-field .text-field_input:required:focus + label::after { color: #F44336; }

.content div.main div.text-field .text-field_input:not(:required) + label::after { margin-left: 1px; content: "(optional)"; font-size: 12px; transition: font-size 0.2s ease-out; }

.content div.main div.text-field .text-field_input:not(:required):focus + label::after { font-size: 10px; color: #9E9E9E; }

.content div.main div.text-field .text-field_input:-moz-ui-invalid:not(output) { box-shadow: none !important; }

.content div.main div.text-field .text-field_input + label { position: absolute; top: 10px; left: 3px; font-size: 16px; color: #9E9E9E; transition: all 0.2s ease-out; }

.content div.main div.text-field .text-field_input:hover { border-color: #212121 !important; cursor: pointer; }

.content div.main div.text-field .text-field_input:hover:focus { cursor: text; }

.content div.main div.text-field .text-field_input:focus { outline: none; border-color: #2196F3 !important; }

.content div.main div.text-field .text-field_input:focus + label, .content div.main div.text-field .text-field_input.has-value + label { top: -15px; color: #2196F3; font-size: 12px; }

.content div.main div.text-field .text-field_input.has-value:not(:focus) + label { color: #9E9E9E; }

.content div.main div.text-field .text-field_input.is-invalid { border-color: #F44336 !important; }

.content div.main div.text-field .text-field_input.is-invalid:focus { border-color: #F44336 !important; }

.content div.main div.text-field .text-field_input.is-invalid:focus ~ .text-field_label, .content div.main div.text-field .text-field_input.is-invalid.has-value ~ .text-field_label { color: #F44336 !important; }

.content div.main div.text-field .text-field_input.is-invalid.has-value:not(:focus) ~ .text-field_label { color: #F44336 !important; }

.content div.main div.text-field .error { color: #F44336; position: absolute; bottom: -15px; left: 0; font-size: 12px; top: auto; }

.content div.main div.text-field input[type="file"].text-field_input { width: 100%; height: 35px; font-size: 16px; border: none; position: relative; z-index: 1; transition: border 0.2s ease-out; caret-color: #2196F3; }

.content div.main div.text-field input[type="file"].text-field_input:not(:required) + label::after { margin-left: 1px; content: "(optional)"; font-size: 10px; color: #9E9E9E; }

.content div.main div.text-field input[type="file"].text-field_input:-moz-ui-invalid:not(output) { box-shadow: none !important; }

.content div.main div.text-field input[type="file"].text-field_input + label { position: absolute; top: -15px; left: 3px; font-size: 12px; color: #9E9E9E; transition: all 0.2s ease-out; }

.content div.main div.text-field input[type="file"].text-field_input:hover { border-color: #212121 !important; cursor: pointer; }

.content div.main div.text-field input[type="file"].text-field_input:hover:focus { cursor: text; }

.content div.main div.text-field input[type="file"].text-field_input:focus { outline: none; border-color: #2196F3 !important; }

.content div.main div.text-field input[type="file"].text-field_input:focus + label, .content div.main div.text-field input[type="file"].text-field_input.has-value + label { top: -15px; color: #2196F3; font-size: 12px; }

.content div.main div.text-field input[type="file"].text-field_input.has-value:not(:focus) + label { color: #9E9E9E; }

.content div.main p.info { font-size: 13px; font-weight: normal; text-align: left; color: #9E9E9E; margin: 0 0 0 5%; }

@media screen and (max-width: 799px) { .content div.main p.info { font-size: 14px; } }

.content div.done { position: relative; top: 50px; left: 50%; transform: translate(-50%, -100%); height: 50px; width: 50px; }

.content div.done i { font-size: 50px; color: #2196F3; }

.content div.error { position: relative; top: 50px; left: 50%; transform: translate(-50%, -100%); height: 50px; width: 50px; }

.content div.error i { font-size: 50px; color: #F44336; }

.content h2 { font-size: 20px; font-weight: medium; color: #212121; display: block; text-align: center; position: relative; top: 50%; margin: 20px auto 0 auto; }

.content p.subtitle { font-size: 16px; font-weight: normal; color: #212121; display: block; text-align: center; position: relative; margin: 10px auto; max-width: 500px; }

.content p.subtitle a, .content p.subtitle a:visited, .content p.subtitle a:active { text-decoration: none; color: #2196F3; }

.content p.subtitle a:hover, .content p.subtitle a:visited:hover, .content p.subtitle a:active:hover { text-decoration: underline; }
