#content {
  position: relative;
  overflow: hidden;
}

#content h1 {
  color: #333;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

#content .stroke {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 50px;
  background-color: #2c3e50;
}

#content p.text:first-of-type {
  margin-top: 25px;
}

#content p.text {
  width: 85%;
  height: auto;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10pt;
}

#content .steps {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4285F4;
  cursor: pointer;
}

#content .steps p {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 14pt;
}

#content .steps p img {
  position: relative;
  top: 5px;
  left: 10px;
}

#content .ripple {
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: #4285F4;
  border-radius: 50%;
  z-index: 2;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}


@media screen and (min-width: 1300px) {
  #content p.text {
    width: 40%;
    font-size: 14pt;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}
