.content .news { max-width: 1000px; margin: 0 auto; }

@media screen and (max-width: 1020px) { .content .news { margin: 0 16px; } }

.content .news h1 { text-align: center; font-size: 56px; font-weight: normal; color: #212121; margin: 0.5em 0 0.5em 0; }

.content .news p { font-size: 16px; font-weight: normal; color: #424242; hyphens: auto; margin-bottom: 24px; }

.content .news input#email { outline: none; display: block; background: transparent; text-align: center; margin: 40px auto 0 auto; font-size: 16px; width: 300px; height: 32px; border: none; border-bottom: 1px solid #BDBDBD; transition: border 0.28s cubic-bezier(0.4, 0, 0.2, 1); }

.content .news input#email:focus { border-bottom: 1px solid #2196F3; }

@media screen and (max-width: 799px) { .content .news input#email { width: 95%; } }

.content .news input#send { outline: none; font-size: 14px; display: block; margin: 16px auto 0 auto; height: 36px; min-width: 88px; padding: 6px 16px; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 0; border-radius: 2px; background: #2196F3; color: #fff; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }

.content .news input#send:active { box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4); }
