div#content {
  margin: 20px auto;
  margin-top: 0;
  text-align: center;
}

div#content p {
  font-size: 18px;
}

div#content div#errors {
  background-color: #D50000;
  color: #fff;
}

div#content div#errors ul {
  padding-left: 20px;
  display: inline-block;
  text-align: center;
}

div#content div#errors ul li {
  font-size: 16px;
  text-align: left;
}

@media screen and (min-width: 1300px) {
  div#content {
    width: 40%;
  }
}
