/* CSS DATEI */

div#settings {
  width: 100%;
  position: relative;
  text-align: center;
}

div#settings h1 {
  margin: 1em 0;
}

div#settings form {
  padding: 30px;
  padding-top: 10px;
  text-align: left;
}

div#settings form .input-group {
  font-size: 14px;
  color: #9E9E9E;
  position: relative;
  margin: 30px auto;
  width: 90%;
}

div#settings form .input-group .text-field {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 35px;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: lighter;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

div#settings form .input-group .text-field.is-invalid {
  border-bottom: 1px solid #DD2C00;
}

div#settings form .input-group .text-field ~ .text-label {
  position: absolute;
  top: 10px;
  left: 3px;
  font-size: 16px;
  color: #757575;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: -1;
}

div#settings form .input-group .button ~ .text-label {
  position: absolute;
  left: 3px;
  color: #757575;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: -1;
  top: -15px;
  font-size: 12px;
}

div#settings form .input-group .text-field:focus {
  outline: none;
  border-color: #3498db;
}

div#settings form .input-group .text-field.is-invalid:focus {
  border-color: #DD2C00;
}

div#settings form .input-group .text-field:focus ~ .text-label,
div#settings form .input-group .text-field.has-value ~ .text-label {
  top: -15px;
  color: #3498db;
  font-size: 12px;
}

div#settings form .input-group .text-field.is-invalid:focus ~ .text-label,
div#settings form .input-group .text-field.is-invalid.has-value ~ .text-label {
  color: #DD2C00;
}

div#settings form .input-group .text-field.has-value:not(:focus) ~ .text-label {
  color: #757575;
}

div#settings form .input-group .text-field.is-invalid.has-value:not(:focus) ~ .text-label {
  color: #DD2C00;
}

div#settings form .input-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: block;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 35px;
  font-family: 'Lato', sans-serif;
  color: #757575;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding-left: 3px;
  font-weight: lighter;
}


div#settings form .input-group select.is-invalid {
  border-bottom: 1px solid #DD2C00;
}

i.fa.fa-chevron-down {
  font-size: 16px;
  width: 1em;
  height: 1em;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #757575;
  z-index: -1;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

div#settings form .input-group select:focus ~ .fa-chevron-down {
  color: #3498db;
}

div#settings form .input-group select.is-invalid:focus ~ .fa-chevron-down {
  color: #DD2C00;
}


div#settings form .input-group select option:not([disabled]) {
  color: #000;
}

div#settings form .input-group select ~ .select-label {
  position: absolute;
  left: 3px;
  top: -15px;
  color: #757575;
  font-size: 12px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: -1;
}

div#settings form .input-group select.is-invalid ~ .select-label {
  color: #DD2C00;
}

div#settings form .input-group select:focus ~ .select-label {
  color: #3498db;
}


div#settings form .input-group select.is-invalid:focus ~ .select-label {
  color: #DD2c00;
}

div#settings form .input-group select:focus {
  border-bottom: 1px solid #3498db;
}

div#settings form .input-group select.is-invalid:focus {
  border-bottom: 1px solid #DD2C00;
}

div#settings form .input-group #safety-text {
  text-align: right;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

div#settings form .input-group .button {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 1em 0;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  background-color: #3498db;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

div#settings form .input-group.profile-pic {
  margin-top: 40px;
}

div#settings form .input-group .button.upload {
  float: left;
  margin-left: 2%;
  width: 47%;
  height: 50px;
  background-color: #2ecc71;
  background-image: url("/login/img/upload.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div#settings form .input-group .button.delete {
  float: right;
  margin-right: 2%;
  width: 47%;
  height: 50px;
  background-color: #e74c3c;
  background-image: url("/login/img/delete.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div#settings form .input-group .button.delete ~ .text-label {
  top: -25px;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: block;
}

.clearfix::after {
  clear: both;
}

div#settings form .input-group .button.upload:hover {
  background-color: #27ae60;
}

div#settings form .input-group .button.delete:hover {
  background-color: #c0392b;
}

div#settings form .error {
  color: #D50000;
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 12px;
  top: auto;
}

@media screen and (min-width: 700px) {
  div#settings form .input-group {
    display: inline-block;
    font-size: 14px;
    color: #9E9E9E;
    position: relative;
    margin: 30px 0;
    width: 48%;
  }

  div#settings form .input-group.full-line {
    width: 100%;
  }

  div#settings form .input-group.half-line:nth-child(even) {
    float: right;
  }

  div#settings form .input-group.half-line-two:nth-child(odd) {
    float: right;
  }
  div#settings form .input-group.submit {
    float: right;
  }

  div#settings form .input-group.submit::after {
    content: "";
    clear: both;
    display: table;
  }

  div#settings form .input-group .button {
    width: 250px;
    float: right;
  }
}

@media screen and (min-width: 1300px) {
  div#settings {
    width: 60%;
    margin: 0 auto;
  }

  div#settings form .input-group .button:hover {
    background-color: #2980b9;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  }
}
