.content .about { max-width: 1000px; margin: 0 auto; }

@media screen and (max-width: 1020px) { .content .about { margin: 0 16px; } }

.content .about h1 { text-align: center; font-size: 56px; font-weight: normal; color: #212121; margin: 0.5em 0 0.5em 0; }

.content .about h3 { text-align: center; font-size: 34px; font-weight: normal; color: #424242; margin: 0.5em auto; }

.content .about p { text-align: justify; font-size: 14px; font-weight: normal; color: #424242; hyphens: auto; margin-bottom: 24px; }

.content .about a { text-decoration: none; color: #2196F3; }

.content .about a:hover { text-decoration: underline; }

.content .about .team { width: 100%; margin: 14px auto; }

.content .about .team img { width: 100%; height: auto; margin: 0 auto; display: block; }
