#content {
  min-height: 79vh;
  background-color: #FFFFFF;
}

#content > h1 {
  color: #607D8B;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

#content > p {
  width: 85%;
  height: auto;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
}

#content > .write {
  background-color: #212121;
  width: 85%;
  min-height: 70px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 3px 4px rgba(0,0,0,.3);
          box-shadow: 0 3px 4px rgba(0,0,0,.3);
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  margin-bottom: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#content > .write p {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}

#content > .write textarea {
  background-color: #212121;
  border: none;
  color: #F1F1F1;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  min-height: 90%;
  width: 95%;
  min-width: 95%;
  max-width: 95%;
  resize: none;
  outline: none;
  overflow: hidden;
}

#content > .write img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  right: 2.5%;
}


#content > .diskussion {
  width: 85%;
  min-height: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-box-shadow: 0 3px 4px rgba(0,0,0,.3);
          box-shadow: 0 3px 4px rgba(0,0,0,.3);
  overflow: hidden;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#content .diskussion .comment {
  padding-bottom: 10px;
  padding-top: 10px;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#content .diskussion .comment:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

#content .diskussion .comment:first-of-type {
  padding-top: 0;
}

#content .diskussion .comment p.name {
  color: #128ee9;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 5px;
}

#content .diskussion .comment p.name a {
  color: #128ee9;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
}

#content .diskussion .comment p.name:hover {
  text-decoration: underline;
}

#content .diskussion .comment p.name a:hover {
  color: #128ee9;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: underline;
}

#content .diskussion .comment p.time {
  color: #767676;
  display: inline-block;
  font-size: 11px;
  margin-left: 8px;
  margin-bottom: 5px;
}

#content .diskussion .comment p.text {
  font-size: 13px;
}

#content .diskussion .comment .reply-button {
  padding: 5px 5px 5px 5px;
  margin: 5px 0 5px 0;
  cursor: pointer;
  border-radius: 2px;
  width: auto;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#content .diskussion .comment .reply-button:hover {
  background-color: #f2f2f2;
}

#content .diskussion .comment .reply-button:active {
  background-color: #e2e2e2;
}

#content .diskussion .comment .reply-button p.reply-button-text {
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
  font-weight: bold;
  display: inline;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#content .diskussion .comment .reply-button p.reply-button-text::-moz-selection {
  background: rgba(#fff, 0);
}

#content .diskussion .comment .reply-button p.reply-button-text::selection {
  background: rgba(#fff, 0);
}
#content .diskussion .comment .reply-button p.reply-button-text::-moz-selection {
  background: rgba(#fff, 0);
}
#content .diskussion .comment .reply-button p.reply-button-text::-webkit-selection {
  background: rgba(#fff, 0);
}

#content .diskussion .comment .reply {
  padding-left: 30px;
  padding-top: 10px;
  border-left: solid 1px #767676;
}

#content .diskussion .comment .reply:first-of-type {
  padding-top: 5px;
  margin-top: 5px;
}

#content .diskussion .comment .reply-write {
  width: 100%;
  min-height: 70px;
  position: relative;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-left: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-left: solid 1px #767676;
}

#content .diskussion .comment .reply-write p {
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}

#content .diskussion .comment .reply-write textarea {
  background-color: #FFF;
  border: none;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  width: 90%;
  min-width: 90%;
  max-width: 90%;
  resize: none;
  outline: none;
  overflow: hidden;
}

#content .diskussion .comment .reply-write img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  right: 4%;
}

#content .diskussion .comment p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1300px) {
  #content > p {
    width: 60%;
    font-size: 13pt;
  }

  #content > .diskussion,
  #content > .write {
    width: 40%;
  }
}



.loader {
  position: absolute;
  margin: 0 auto;
  width: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.loader::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  stroke: #878787;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #878787;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
